// site footer styling
.site-footer {
    width: 100%;
    padding: 2em 0;
    color: $mainWhite;
    background: $rustBeltMaroon;
    opacity: 0.8;
    height: 180px;
    color: #707070;
    margin-bottom: -15px;
    font-size: small;
    width: 100%;
    box-shadow: 4px 6px 6px 6px rgba(0, 0, 0, 1);
}

li.identity {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 110px auto 0;
    color: $mainWhite;
    font-size: 16px;
    @media #{$min-480} {
        font-size: 20px;
    }
}

footer.materical-icons {
    font-size: 20px;
    // padding-bottom: -36px;
    // margin-top: 20px;
    // margin-bottom: -28px;
    // vertical-align: bottom;
    @media #{$min-480} {
        font-size: 30px;
    }
}