@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
/* Colors */
/* Fonts */
/* Line Heights */
/* Media Query Variables */
/* Spacing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #fee9d7;
  font-family: 'IBM Plex Mono', monospace; }

.btn-div {
  margin: 20px auto;
  display: block;
  text-align: center; }

.btn-div button {
  width: 28px;
  height: 28px;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 0; }

i.fas.fa-plus-circle,
i.fas.fa-minus-circle,
i.fas.fa-plus-square {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

i.fas.fa-plus-circle,
i.fas.fa-minus-circle {
  font-size: 28px; }

i.fas.fa-plus-square {
  font-size: 24px; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

.drop-container {
  padding: 0.9375rem 0;
  margin: 0 auto 25px;
  display: block;
  width: 90%; }

.drop-grid {
  display: grid;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 800px) {
    .drop-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); } }

.drop-cell {
  clear: both;
  width: 100%;
  max-width: 800px;
  height: 100%;
  border: 2px solid #666;
  background: #f09531;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move; }

.drop-cell header,
.drop-cell footer {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 8px;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); }

.drop-cell p {
  padding: 8px; }

.content {
  width: 98.75%;
  margin: 0 auto; }

.drop-cell.over {
  border: 2px dashed #000;
  background: red; }

button[name="para"] {
  width: 99%;
  cursor: pointer;
  padding: 5px;
  background: transparent; }

.add-para {
  width: 100%;
  padding: 8px 0;
  text-shadow: none;
  border-radius: none;
  outline: none;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px; }

.site-footer {
  width: 100%;
  padding: 2em 0;
  color: white;
  background: #69140e;
  opacity: 0.8;
  height: 180px;
  color: #707070;
  margin-bottom: -15px;
  font-size: small;
  width: 100%;
  box-shadow: 4px 6px 6px 6px black; }

li.identity {
  text-align: center;
  list-style-type: none;
  width: 100%;
  margin: 110px auto 0;
  color: white;
  font-size: 16px; }
  @media (min-width: 480px) {
    li.identity {
      font-size: 20px; } }

footer.materical-icons {
  font-size: 20px; }
  @media (min-width: 480px) {
    footer.materical-icons {
      font-size: 30px; } }

:root {
  --space: 1.5em 0;
  --space: 2em 0; }

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0; }

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden; }

/*# sourceMappingURL=styles.css.map */
